.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  margin: auto;
  margin-top: 0.5rem;
  @media (min-width: $ipad-breakpoint) {
  }
  @media (min-width: $desktop-breakpoint) {
  }
}

.footer__box {
  width: 100%;
  border-radius: 0px;
  background-color: $primary-color;
  color: white;
  font-size: 14px;
  overflow: hidden;
  height: 30rem;
  @media (min-width: $ipad-breakpoint) and (max-width: $desktop-breakpoint) {
    font-size: 19px;
    margin-top: 2rem;
  }
  @media (min-width: $desktop-breakpoint) {
    height: 30rem;
    font-size: 19px;
  }
}

.footer__content {
  width: 80%;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 10rem;
  font-size: 1.5rem;
  font-weight: 700;
  p {
    color: darken(white, 5%);
  }
  span {
    color: lighten(black, 30%);
  }
  @media (min-width: $desktop-breakpoint) {
  }
}
