.header {
  margin-top: $s-size;
  margin-bottom: $l-size;
  width: 100%;
  background-color: darken(rgb(52, 51, 51), 5%);
  top: 0;
  position: fixed;
  z-index: 99;
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0rem;
  }
}

.header__mobile {
  position: fixed;
  top: 0;
  z-index: 99;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.header__link {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 5px 10px;
  margin-top: 3rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  

  &:focus,
  &:visited,
  &:link,
  &:active,
  &:hover {
    text-decoration: none;
    color: $primary-color;
    
  }
  &:hover {
    cursor: pointer;
    border: 2px solid rgb(6, 186, 196);
    background-color:rgb(6, 186, 196);
    color: white;
    border-radius: 20px;
  }
  @media (min-width: $desktop-breakpoint) {
    display: inline-flex;
  }
}

.header__link--active {
  @media (min-width: $desktop-breakpoint) {
    border-bottom: 2px solid $primary-color;
    padding-bottom: 2px;
  }
}

.header__logo {
  width: 8rem;
  height: 8rem;
  min-height: 4rem;
  margin-left: $s-size;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  position: relative;
  z-index: 11000;
  @media (min-width: $desktop-breakpoint) {
    width: 9rem;
    height: 9rem;
  }
}
