* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Tahoma", "Helvetica", serif;
  font-size: $m-size;
  line-height: 1.3;
  background-color: rgb(60, 60, 60);
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
img,
dd {
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.required:after {
  content: " *";
  color: red;
}
